body{
    margin: 0px;
    padding: 0px;
    height: 1500px;
    overflow: hidden;
    background-color: black;
    background-image: url('img/bgtest.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    text-align: center;
}

body > img{
    opacity: 0.6;
}

@font-face {
    font-family: 'Hylian';
    src: url('font/HyliaSerifBeta-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Bobacups';
    src: url('font/Boba\ Cups.ttf') format('truetype');
}

@font-face {
    font-family: 'Botw';
    src: url('fonts/The\ Wild\ Breath\ of\ Zelda.otf') format('opentype');
}

@font-face {
    font-family: 'Snow';
    src: url('font/SnowtopCaps.otf') format('opentype')
}
 

.pp {
    background-color: #1B1B1B;
    background-image: url('imgs/background3.png'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.logo{
    width: 100%;    
}

.cabecalho > img{
    width: 88px;
    padding-left: 30px;
    padding-top: 24px;
    margin-right: 948px;
}

.cabecalho{
    display: flex;
    font-family: 'Bobacups';
    width: 100%;
    background-color: black;
    font-size: 30px;
    border-bottom: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: white;
    border-style: solid;
    height: 14%;
    align-items: center;
    position: fixed;
    animation: forwards;
    animation-duration: 2s;
    animation-name: animacao;
}

.cabecalho > a{
    font-family: 'Snow';
    font-size: 50%;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding-top: 2%;
    margin-left: 5%;
    text-align: right;
    align-items: right;
    justify-content: right;
}

.cabecalho > a:hover{
    color: rgb(74, 130, 214);
}

.org {
    margin-left: 68px;
    text-decoration: none;
    font-size: 148%;
    padding-top: 14%;
}

.org a{
    display: flex;
    margin-left: 68px;
    text-decoration: none;
    font-family: 'Bobacups';
    font-size: 148%;
    padding-top: 1%;
    color: rgb(74, 130, 214);
}

.org > p {
    color: purple;
    max-width: 488px;
    font-family: 'Bobacups';
    margin-left: 50px;
}

.org > img {
    margin-left: 60px;
    width: 100%;
    height: 100%; 
    max-width: 368px;
    align-items: left;
    text-align: left;
}

input[type=text], select {
  width: 20%;
  font-family: 'Verdana';
  background-color: rgb(43, 42, 42);
  padding: 12px 18px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
  width: 20%;
  font-family: 'Verdana';
  background-color: rgb(43, 42, 42);;
  padding: 12px 18px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 20%;
  font-family: 'Verdana';
  font-size: 80%;
  background-color: rgb(43, 42, 42);
  color:  white;
  padding: 14px 18px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.modal-body{
background-color: #1B1B1B;
}

.modal-body > h4{
color: white;
font-size: 140%;
font-family: 'Snow';
}

.registerfgs{
color: White;
font-family: 'Bobacups';
font-size: 80%;
}

.iframe {
    margin-left: 128px;
}

@keyframes animacao {
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}




